<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="Ginko art tattoo">
        {% block stylesheets %}
            <!-- CSS Plugins et Styles -->
            <link rel="stylesheet" href="{{ asset('assets/css/plugins.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}

        {# {% block javascripts %}
            <!-- JS Plugins -->
            <script src="{{ asset('assets/js/jquery-3.6.3.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-migrate-3.0.0.min.js') }}"></script>
            <script src="{{ asset('assets/js/modernizr-2.6.2.min.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/scrollIt.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.stellar.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.magnific-popup.js') }}"></script>
            <script src="{{ asset('assets/js/YouTubePopUp.js') }}"></script>
            <script src="{{ asset('assets/js/select2.js') }}"></script>
            <script src="{{ asset('assets/js/datepicker.js') }}"></script>
            <script src="{{ asset('assets/js/custom.js') }}"></script>
        {% endblock %} #}
    </head>
    <body>
        {% if app.user %}
        <!-- Preloader -->
        <div class="preloader-bg"></div>
        <div id="preloader">
            <div id="preloader-status">
                <div class="preloader-position loader"> <span></span> </div>
            </div>
        </div>
        <!-- Smoke Preloader -->
        <div class="cd-transition-layer visible opening">
            <div class="bg-layer" style="background-image: url('{{ asset('img/ink2.png') }}')"></div>
        </div>
        <!-- Cursor -->
        <div class="cursor js-cursor"></div>
        <!-- Progress scroll totop -->
        <div class="progress-wrap cursor-pointer">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
        </div>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <!-- Logo -->
                <div class="logo-wrapper">
                    <a class="logo" href="{{path('app_index')}}"> <img src="{{ asset('img/logo-light.png') }}" class="logo-img" alt=""> </a>
                </div>
                <!-- Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="ti-menu"></i></span> </button>
                <!-- Menu -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{{path('app_index')}}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{path('app_prestation')}}">Prestation</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{path('app_who')}}">Qui sommes-nous</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{path('app_team')}}">Notre Équipe</a></li>
                        {# <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Pages <i class="ti-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="pricing.html" class="dropdown-item"><span>Pricing</span></a></li>
                                <li><a href="team.html" class="dropdown-item"><span>Team</span></a></li>
                                <li><a href="faqs.html" class="dropdown-item"><span>Faq</span></a></li>
                                <li><a href="aftercare.html" class="dropdown-item"><span>Aftercare</span></a></li>
                                <li><a href="team-details.html" class="dropdown-item"><span>Team Details</span></a></li>
                                <li><a href="services-page.html" class="dropdown-item"><span>Services Page</span></a></li>
                                <li><a href="post.html" class="dropdown-item"><span>Post Page</span></a></li>
                                <li class="dropdown-submenu dropdown"> <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" href="#"><span>Other Pages <i class="ti-angle-right"></i></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="404.html" class="dropdown-item"><span>404 Page</span></a></li>
                                        <li><a href="coming-soon.html" class="dropdown-item"><span>Coming Soon</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li> #}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_process') }}">Process & soins</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}

        {% block body %}{% endblock %}
        <!-- Footer -->
        {% if app.user %}
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="footer-column footer-contact">
                                <h3 class="footer-title">Adresse</h3>
                                <p class="footer-contact-text">37 Grande Rue, 01140 Thoissey</p>
                                <div class="footer-contact-info">
                                    <p class="footer-contact-phone">06 50 32 43 68</p>
                                    {# <p class="footer-contact-mail">info@tattoo.com</p> #}
                                </div>
                                <div class="footer-about-social-list"> <a href="#"><i class="ti-instagram"></i></a> <a href="#"><i class="ti-twitter"></i></a> <a href="#"><i class="ti-youtube"></i></a> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-pinterest"></i></a> </div>
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-1">
                            <div class="item opening">
                                <h3 class="footer-title">Horaires d'ouverture</h3>
                                <ul>
                                    <li>
                                        <div class="tit">Lundi</div>
                                        <div class="dots"></div> <span>09:00 - 18:00</span>
                                    </li>
                                    <li>
                                        <div class="tit">Mardi</div>
                                        <div class="dots"></div> <span>09:00 - 18:00</span>
                                    </li>
                                    <li>
                                        <div class="tit">Mercredi</div>
                                        <div class="dots"></div> <span>09:00 - 18:00</span>
                                    </li>
                                    <li>
                                        <div class="tit">Jeudi</div>
                                        <div class="dots"></div> <span>09:00 - 18:00</span>
                                    </li>
                                    <li>
                                        <div class="tit">Vendredi</div>
                                        <div class="dots"></div> <span>09:00 - 18:00</span>
                                    </li>
                                    <li>
                                        <div class="tit">Samedi</div>
                                        <div class="dots"></div> <span>09:00 - 18:00</span>
                                    </li>
                                    <li>
                                        <div class="tit">Dimanche</div>
                                        <div class="dots"></div> <span>Fermé</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {# <div class="col-md-4 offset-md-1">
                            <div class="footer-column footer-explore clearfix">
                                <h3 class="footer-title">Subscribe</h3>
                                <div class="row subscribe">
                                    <div class="col-md-12">
                                        <p>Subscribe to take advantage of our campaigns and gift certificates.</p>
                                        <form>
                                            <input type="text" name="search" placeholder="Your email" required>
                                            <button>Subscribe</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div> #}
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-bottom-inner">
                                <p class="footer-bottom-copy-right">2026 © Tout droit reservé. Développé par <a href="#" target="_blank">Enzo D'aloia-D'ignazio</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% endif %}
    {% block javascripts %}
        <!-- JS Plugins -->
        <script src="{{ asset('assets/js/jquery-3.6.3.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-migrate-3.0.0.min.js') }}"></script>
        <script src="{{ asset('assets/js/modernizr-2.6.2.min.js') }}"></script>
        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/scrollIt.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
        <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.stellar.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.magnific-popup.js') }}"></script>
        <script src="{{ asset('assets/js/YouTubePopUp.js') }}"></script>
        <script src="{{ asset('assets/js/select2.js') }}"></script>
        <script src="{{ asset('assets/js/datepicker.js') }}"></script>
        <script src="{{ asset('assets/js/custom.js') }}"></script>
    {% endblock %}
    </body>
</html>
